html {
  overflow: hidden
}
body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}
div {
  border: 0px dashed #32a1ce;
}
.svg {
  margin: auto;
  position: absolute;
  animation-name: rotfor;
  /* -webkit-animation: rotfor; */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
  object-fit: cover;
  overflow: hidden; 
  display: block;
  opacity: 0.45;
}
#svg1_1 {
  animation-duration: 22s;
  margin-top: 25%;
  animation-name: rotback_1;
  width: 45%;
  height: 45%;
  opacity: 0.75;
}
#svg2_1 {
  animation-duration: 19s;
  margin-top: 25%;
  animation-name: rotfor_1;
  width: 70%;
  height: 70%;
  opacity: 0.6;
}
#svg3_1 {
  animation-duration: 16s;
  margin-top: 25%;
  animation-name: rotfor_1;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#svg4_1 {
  animation-duration: 19s;
  margin-top: 25%;
  animation-name: rotback_1;
  width: 140%;
  height: 140%;
  opacity: 0.3;
}
#svg5_1 {
  animation-duration: 20s;
  margin-top: 25%;
  animation-name: rotfor_1;
  width: 180%;
  height: 180%;
  opacity: 0.2;
}


#svg1_3 {
  animation-duration: 21s;
  animation-name: rotback_2;
  width: 45%;
  height: 45%;
  opacity: 0.75;
}
#svg2_3 {
  animation-duration: 19s;
  animation-name: rotback_2;
  width: 70%;
  height: 70%;
  opacity: 0.6;
}
#svg3_3 {
  animation-name: rotfor_2;
  animation-duration: 18s;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
#svg4_3 {
  animation-name: rotfor_2;
  animation-duration: 20s;
  width: 140%;
  height: 140%;
  opacity: 0.3;
}
#svg5_3 {
  animation-name: rotback_2;
  width: 180%;
  height: 180%;
  opacity: 0.2;
}

@keyframes rotfor_1 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotback_1 {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-180deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@keyframes rotfor_2 {
  0% {
    transform: rotate(0deg) scale(0.35);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(0.35);
  }
}
@keyframes rotback_2 {
  0% {
    transform: rotate(0deg) scale(0.35);
  }
  50% {
    transform: rotate(-180deg) scale(2);
  }
  100% {
    transform: rotate(-360deg) scale(0.35);
  }
}
#random_text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(44) 1s 1 normal both,
  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00C7C7; }
}

div.main {
  display: inherit;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

div.main3 {
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  display:block;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 40px rgba(75, 192, 200, 0.5));
  border-radius: 8px;
}

.button-1 {
  margin-top: 10%;
  display: flex;
  
}
.container {
  background: #00C7C7;
}
text.l1 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
text.l2 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #FFFFFF;
}
text.l3 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
}
.button {
  inline-size: min-content;
  overflow-wrap:normal;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  width: 50%;
  height: 5%;
  /* left: 42%; */
  top: 75%;
  
  /* Aquamarine */
  
  background: #00C7C7;
  box-shadow: 0px 6px 24px rgba(199, 121, 208, 0.8);
  border-radius: 8px;
}
.button:active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #00C7C7;
  box-shadow: inset 0px 1px 6px #C779D0, inset 0px 2px 16px #C779D0;
}
.button:hover {
  cursor: pointer;
}

/* img {
  display: none;
  height: 400px;
  width: 400px;
} */

.screen {
  display: none;
  align-items: center;
  justify-content: center;
  /* height: 100%;
  width: 100%;
  min-width: 100%; */
  /* margin-top: 25%;
  margin-bottom: 25%; */
}
#screen2 {
  position: relative;
  object-fit: cover;
  /* margin-top: -55%; */
}
#screen3 {
  min-width: 75%;
}
#brain {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}