body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  border: 1px solid #32a1ce;
}
.svg {
  margin: auto;
  position: absolute;
  size: 100%;
  animation-name: ckw;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
#random_text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(44) 1s 1 normal both,
  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00C7C7; }
}

div.main {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 75%;
  min-width: 75%;
  margin: auto;
  margin-top: 20%;
  top: 50px;
  /* position: absolute; */
}
div.main3 {
  align-items: center;
  justify-content: center;
  /* width: 75%; */
  margin: auto;
  margin-top: 10%;
  display:block;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 40px rgba(75, 192, 200, 0.5));
  border-radius: 8px;
}

.button-1 {
  margin-top: 10%;
  display: flex;
  
}
.container {
  background: #00C7C7;
}
text.l1 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
text.l2 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  
  color: #FFFFFF;
}
text.l3 {
  font-family: sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
}
.button {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 16px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  width: 20%;
  height: 5%;
  /* left: 42%; */
  top: 75%;
  
  /* Aquamarine */
  
  background: #00C7C7;
  box-shadow: 0px 6px 24px rgba(199, 121, 208, 0.8);
  border-radius: 8px;
}
.button:active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #00C7C7;
  box-shadow: inset 0px 1px 6px #C779D0, inset 0px 2px 16px #C779D0;
}
.button:hover {
  cursor: pointer;
}

/* img {
  display: none;
  height: 400px;
  width: 400px;
} */

.screen {
  display: none;
  align-items: center;
  justify-content: center;

}
#screen3 {
  min-width: 75%;
  margin-top: auto;
}
#brain {
  width: 100vw;
  height: 100vh;
  /* width: 100px; */
  /* height: 100px; */
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}